@import '../../../styles/variables.scss';

.user-label {
  font-size: $font-size-small;
  button {
    font-size: 1em;
  }
  div {
    margin: 0px 10px;
  }
}

.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: aqua;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

@media screen and (max-width: 500px) {
  .user-name, .logout {
    display: none;
  }
}