$border-radius-large: 20px;
$min-container-width: 300px;
$max-container-width: 1200px;

// main font-size
$font-size-small: 1.2em;
$font-size-medium: 1.6em;
$font-size-large: 2em;

// main app colors
$color-blue: rgb(48, 96, 228);

$button-border: 2px solid rgba(51, 51, 51, 0.644);
$button-background: rgba(0, 0, 0, 0);
$button-hover: rgba(124, 124, 124, 0.418);