@import '../../../styles/variables.scss';

.gallery-wrap {
  width: 100%;
  height: max-content;

  .gallery {
    flex-wrap: wrap;
    margin: 50px 0px;

    .item {
      width: 320px;
      height: 150px;
      background-color: burlywood;
      border-radius: $border-radius-small;
      margin: 20px;
      
      &:hover {
        cursor: pointer;
        box-shadow: 1px 1px 10px rgba(173, 173, 173, 0.829);
      }
    }
  }
}